.basket__icon {
  height: 30px;
  width: 30px;
  color: black;
}

.basket__link {
  position: relative;
}

.basket__items {
  position: absolute;
  content: "";
  top: 17px;
  left: 60%;
  font-size: 12px;
  font-weight: 600;
  padding: 0 2px 0 2px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
