.basket {
  width: 1169px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.basket__cards {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
