.card {
  display: flex;
  align-items: center;
  font-variant-numeric: tabular-nums;
}

.card__img {
  height: 100px;
  max-width: 90px;
  object-fit: cover;
}

.card__text {
  display: flex;
  align-items: center;
  font-variant-numeric: tabular-nums;
  width: 100%;
}

.card__title {
  font-size: 16px;
  font-weight: 300;
  width: 130px;
  margin-left: 20px;
}

.card__price {
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  width: 60px;
}

.card__subtotal {
}

.qty__container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 115px;
  font-variant-numeric: tabular-nums;
}

.qty__text {
  width: 40px;
  text-align: center;
  font-weight: 500;
  display: inline-block;
  color: rgb(69, 68, 68);
  border: 1px solid gray;
  margin-right: 5px;
}

.card__subtotal {
  margin: 0 auto;
  width: 60px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 560px) {
  .card {
    position: relative;
  }

  .card__text {
    flex-wrap: wrap;
  }

  .card__subtotal {
    display: none;
  }

  .card__title {
    margin-right: 110px;
    width: 160px;
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .qty__container {
    margin-left: 20px;
    margin-top: 0px;
    justify-content: left;
  }

  .card__price {
    padding-right: 2px;
    width: 60px;
    text-align: end;
    margin-bottom: auto;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 480px) {
  .qty__container {
    margin-top: 0px;
  }

  .card__title {
    margin-right: 0px;
  }

  /* .card__price {
    margin-bottom: 0;
    margin-left: 0;
  } */
}

@media (max-width: 460px) {
  .card__title {
    margin-right: 0px;
  }

  .card__price {
    width: 40px;
  }
}
