.delete__btn {
  background-color: black;
  border: 1px solid black;
  color: #fff;
  padding: 2px 8px;
  width: 21.6px;
  height: 21.6px;
  cursor: pointer;
}

.delete__item {
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin-left: auto;
  padding: 0;
}

.delete__icon {
  color: grey;
  width: 20px;
  height: 20px;
}

@media (max-width: 560px) {
  .delete__item {
    margin-top: 15px;
  }
}
