.basket__total {
  border: 2px solid black;
  padding: 30px;
}

h3 {
  font-weight: 500;
}

p {
  font-weight: 500;
}

.total__inner {
}

.total__title {
  font-size: 24px;
  font-weight: 500;
  position: relative;
}

.total__title::after {
  position: absolute;
  content: "";
  top: 40px;
  left: 0;
  width: 100%;
  border: 1px solid rgb(161, 161, 161);
}

.total_info {
  margin-top: 20px;
}
